[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/pack/my-plugins/start/syntastic"]
	path = vim/pack/my-plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
