Host *
    ServerAliveInterval 60
Host vm
    HostName 172.16.132.129
    User sanjit
    IdentityFile ~/.ssh/id_rsa
Host athena 
    HostName athena.dialup.mit.edu
    User sanjitb
Host g.csail
    User git
    HostName g.csail.mit.edu
    IdentityFile ~/.ssh/id_ed25519
Host login.csail
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes
    HostName login.csail.mit.edu
    User sanjit-bhat
Host ben.csail
    User sanjit
    HostName ben.csail.mit.edu
    IdentityFile ~/.ssh/id_ed25519
    ProxyJump login.csail
