Host *
    ServerAliveInterval 60
Host github
    User git
    HostName github.com
Host g.csail
    User git
    HostName g.csail.mit.edu
Host login
    User sanjit-bhat
    HostName login.csail.mit.edu
    # login.csail pk is in DNS record. check against that.
    VerifyHostKeyDNS ask
    # use kerb auth.
    GSSAPIAuthentication yes
    GSSAPIDelegateCredentials yes
Host jump
    User sanjit-bhat
    HostName jump.csail.mit.edu
    GSSAPIAuthentication yes
Host jf2
    User zain
    HostName jf2.csail.mit.edu
    Port 222
Host jarvis
     User arch
     HostName jarvis.pdos.csail.mit.edu
     IdentityFile ~/.ssh/id_ed25519
     ProxyJump jf2
Host ben
    User sanjit
    HostName ben.csail.mit.edu
    ProxyJump login
Host 6828
    User arch
    HostName vm-6828.pdos.csail.mit.edu
    ProxyJump jump
Host churro
    User sanjit
    HostName localhost
    Port 22022
Host sr1
    User sanjit
    HostName sr01.csail.mit.edu
    ProxyJump jf2
    ForwardAgent yes
Host sr3
    User sanjit
    HostName sr03.csail.mit.edu
    ProxyJump jf2
    ForwardAgent yes
Host sr4
    User sanjit
    HostName sr04.csail.mit.edu
    ProxyJump jf2
    ForwardAgent yes
Host vm-web
    User arch
    HostName vm-web.pdos.csail.mit.edu
    ProxyJump login
